<main>
    <h1>Atualiza jogo</h1>
    <section id="section-cadastro">
        <form>
            <label for="id">ID</label>
            <input type="text" name="id" class="form-control">
            <br>
            <label for="produto">Nome do Produto</label>
            <input type="text" name="produto" class="form-control">
            <br>
            <label for="descricao">Descrição</label>
            <input type="text" class="form-control" name="descricao">
            <br>
            <label for="foto">Foto</label>
            <input type="text" class="form-control" name="foto">
            <br>
            <label for="preco">Preço</label>
            <input type="text" class="form-control" name="preco">
            <br>
            <button class="btn btn-primary mb-3">Atualizar</button>
        </form>
    </section>
</main>